{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    {% include 'EMPLOYD/basecss.html' %} 
    {% include 'EMPLOYD/basejs.html' %} 
    {% block head %}{% endblock %}
    <title>
        {% if debug %}DEBUG {% endif %}{% block title %}{% endblock %}
    </title>
</head>
<body>
    <nav class="purple">
        <div class="nav-wrapper">
            <a class="brand-logo" href="{% url 'EMPLOYD:index' %}">
                <img src="{% static 'EMPLOYD/images/mm-round.png' %}" height="30" width="30" alt="logo" style="position:relative; top:5px; margin-left:10px;"> EMPLOYD
            </a>
            <ul id="nav" class="right">
                <li><a class="nav-item nav-link" href="{% url 'EMPLOYD:contractlist' %}">Contracts</a></li>
                <li><a class="nav-item nav-link" href="{% url 'EMPLOYD:projectlist' %}">Projects</a></li>
                <li><a class="nav-item nav-link" href="{% url 'EMPLOYD:employeelist' %}">Employees</a></li>
            </ul>
        </div>
    </nav>
    <div id="modal-container"></div>
    <div id="content" class="container" style="width: 90%">
        <div class="row" id="alert_box">
            {% if messages %}
                <div id="alert_msgs" class="col s12 m12">
                    {% for message in messages %}
                    <div class="card {{ message.tags }}">
                        <div class="row">
                            <div class="col s12 m10">
                                <div class="card-content">
                                    <strong>{{ message }}</strong>
                                </div>
                            </div>
                            <div class="col s12 m2">
                                <i class="material-icons icon_style" id="alert_close" aria-hidden="true">close</i>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% block body %} {% endblock %} 
        {% block footer %} {% endblock %}
    </div>
    <script type="text/javascript">
        $('#alert_close').on('click', function () {
            /* Closes alert messages */
            $("#alert_box").fadeOut("slow", function () {});
        });

        function loadAndOpenModal(url) {
            /* Make a GET request for a form and launches it in a modal */
            $.get(url, function (result) {
                $('#modal-container').html(result);
                $('.modal').modal();
                $('#modal').modal('open');
            });
        }
    </script>
</body>
</html>
