{% extends 'pewad/update.html' %}

{% block title %}Employee Record: {{ employee.fname }} {{ employee.lname }}{% endblock title%}
{% block item-desc %}{{ employee.fname }} {{ employee.lname }}{% endblock item-desc %}
{% block helper-buttons %}
    <a id="emailbutton" class="waves-effect waves-light btn-small" title="Email Records to {{ employee.fname }}">
        <i class="material-icons left">email</i>Email</a>
{% endblock helper-buttons %}
{% block table-script %}
    <script type="text/javascript">
        $(document).ready(function () {
            /* Build the main table here; settings adjustments */
            $("#record-table").tabulator({
                ajaxURL: "{% url 'pewad:employeerecords' employee.id %}", // Load table data
                clipboard: true, // Enable copy table to clipboard; helpful for paste to Excel
                height: false, // set height of table to enable virtual DOM
                layout: "fitDataFill", //fit columns to width of table (optional)
                layoutColumnsOnNewData: true, // fixes row heights (see: textarea) on data load
                columns: [ //Define Table Columns
                    { //Contract Column Group
                        title: "Contract",
                        columns: [
                            { title: "Number", field: "conNum", sorter: "string" },
                            { title: "Name", field: "conName", sorter: "string" },
                        ],
                    },
                    { title: "Project", field: "proj", sorter: "string" },
                    { // Lead Column Group
                        title: "Lead",
                        columns: [
                            { title: "Last", field: "leadLast", sorter: "string" },
                            { title: "First", field: "leadFirst", sorter: "string" },
                        ],
                    },
                    { title: "WBS Hours", field: "hours", sorter: "number", bottomCalc: "sum" },
                    { title: "Work Assignment", field: "assig", sortable: false, formatter: "textarea" },
                ],
                rowClick: function (e, t) {
                    // On row click, open a WorkRecord edit modal
                    var url = "{% url 'pewad:workrecordupdate' 0 %}";
                    url = url.replace("0", t.row.data.pk);
                    loadAndOpenModal(url);
                },
            });
        });
    </script>
{% endblock table-script %}
