{% extends 'pewad/basehtml.html' %}
{% load static %}

{% block title %}Project: {{passedValue}}{% endblock title %}

{% block body %}
    <h1>Employee Task Breakdown</h1>
    <hr>
    <div id="example-table" class=""></div>
    <script type="text/javascript">
        var tableElem = $("#example-table");
        function getViewableHeight() {
            /* Get the available screen height; minus the content above the table and 15 for bottom padding. */
            return window.innerHeight - (tableElem.position().top) - 15;
        }

        $(document).ready(function () {
            /* Build the main table here; settings adjustments */
            tableElem.tabulator({
                ajaxURL: "{% url 'pewad:loadtable' %}", // Load table data
                persistentLayout: false, // Enable column layout persistence
                clipboard: true, // Enable copy table to clipboard; helpful for paste to Excel
                height: getViewableHeight(), // Set height of table to enable virtual DOM
                layout: "fitDataFill", // Fit columns to width of table (optional)
                resizableRows: true,
                columns: [ // Define Table Columns
                    { // Contract Column Group
                        title: "Contract",
                        columns: [
                            { title: "Number", field: "conNum", sorter: "string" },
                            { title: "Name", field: "conName", sorter: "string" },
                        ],
                    },
                    { title: "Project", field: "proj", sorter: "string" },
                    { // Lead Column Group
                        title: "Lead",
                        columns: [
                            { title: "Last", field: "leadLast", sorter: "string" },
                            { title: "First", field: "leadFirst", sorter: "string" },
                        ],
                    },
                    { // Employee Column Group
                        title: "Employee/Consultant",
                        columns: [
                            { title: "Last", field: "empLast", sorter: "string" },
                            { title: "First", field: "empFirst", sorter: "string" },
                        ],
                    },
                    { title: "WBS Hours", field: "hours", sorter: "number" },
                    { title: "Work Assignment", field: "assig", sorter: "string", sortable: false, formatter:"textarea"},
                ],
                rowClick: function (e, id, data, row) { //trigger an alert message when the row is clicked
                    alert("Row " + id + " Clicked!!!!");
                },
            });
        });
        $(window).resize(function () {
            /* Upon window resize, redraw the table after setting the new window height */
            tableElem.tabulator("setHeight", getViewableHeight());
            tableElem.tabulator("redraw");
        });
    </script>
{% endblock body %}
