{% extends 'pewad/basehtml.html' %}
{% block title %}{{ list_title }} Listing{% endblock title %}
{% block body %}
    <div class="row" style="padding-top: 1em">
        <div class="col">
            <h3>{{list_title}} Listing <span style="font-size: 0.5em">(Click row for Details)</span></h3>
        </div>
        <div class="col">
            {% block extra-buttons %}{% endblock extra-buttons %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <div id="list-table"></div>
        </div>
    </div>
    <div id="modal-container"></div>
    {% block table-script %}{% endblock table-script %}
{% endblock body %}