{% extends 'pewad/list.html' %}

{% block table-script %}
    <script type="text/javascript">
        $(document).ready(function () {
            /* Build the table here; settings adjustments */
            $("#list-table").tabulator({
                ajaxURL: "{% url 'pewad:projectlistdata' %}", // Load table data
                clipboard: true, // Enable copy table to clipboard; helpful for paste to Excel
                layout: "fitDataFill", //fit columns to width of table (optional)
                initialSort: [{ column: "fields.abbr", dir: "asc" },],
                columns: [ //Define Table Columns
                    { title: "ID", field: "pk", sorter: "number" },
                    { title: "Abbreviation", field: "fields.abbr", sorter: "string" },
                    { title: "Name", field: "fields.name", sorter: "string" },
                ],
                rowClick: function (e, id) {
                    location.href = id.row.data.pk;
                },
            });
        });
    </script>
{% endblock table-script %}
