{% load icons %}
<div class="modal" tabindex="-1" role="dialog" id="wrModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Edit Work Record</h5>
                <button type="button" class="close" data-dismiss="modal">{% icon 'times' %}</button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'pewad:workrecordupdate' view.object.pk %}">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <input type="submit" value="Update" />
                </form>
            </div>
        </div>
    </div>
</div>